<br>
<br>
<br>

  <main>




    <div class="container-fluid bg-cover">
      <div class="container product-section-cover">

        <div class="row">
          <% @products.each do |product| %>
          <% if product.sub_category == "Lawyer" %>
          <div class="col-md-4">
  <figure class="card card-product">
    <div class="img-wrap"><img src="<%= product.image %>" style="width:300px; height:250px;"></div>
    <figcaption class="info-wrap">
        <h4 class="title"><a href="#"><%= product.name %></a></h4>
        <p class="desc"><%= product.description %></p>
        <div class="rating-wrap">
          <div class="label-rating">Category: <%= product.category %></div>
          
        </div> <!-- rating-wrap.// -->
    </figcaption>
    <div class="bottom-wrap">
      <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
      <div class="price-wrap h5">
        <% if product.offerprice? %>
        <span class="price-new">Rs: <%= product.offerprice %></span> <del class="price-old">Rs: <%= product.price %></del>
        <div class="label-rating"><%= number_to_percentage(product.percentage_off, :precision => 2) %> Off</div>
        <% else %>
        <span class="price-new"><%= product.price %></span>
         <% end %>
      </div> <!-- price-wrap.// -->
    </div> <!-- bottom-wrap.// -->
  </figure>
</div> <!-- col // -->


<style>
  .card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}
</style>
          <% end %>
          <% end %>

      </div>
    </div>


  </main>

</body>

<style>
.linky{
  color: #fff;
  font-size: 20px;
}

.linky:hover {
    color: yellow;
}

/* selected link */
.linky:active {
    color: #fff;
}
</style>