

<div class="container" style=" text-align:center; padding-top: 100px">
  <div class="center" style="text-align:center;">
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#slider-3" ).slider({
               range:true,
               min: 0,
               max: 100000,
               values: [ 1, 40000 ],
               slide: function( event, ui ) {
                  $( "#price" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
               }
            });
            $( "#price" ).val( "" + $( "#slider-3" ).slider( "values", 0 ) +
               " - " + $( "#slider-3" ).slider( "values", 1 ) );
         });
      </script>
      <!-- HTML --> 

      <p>
         <label for = "price">Price range:</label>
         <input type = "text" id = "price" 
            style = "border:0; color:#b9cd6d; font-weight:bold;">
      </p>
      <div id = "slider-3"></div>
      <hr>
<br>
<br>
          <%= select_tag :category, options_for_select([["Select a category",""], ["Health Beauty & Babbycare"], ["Furniture"], ["Fashion"], ["Grocery"], ["Tutor"], ["Doctors"], ["Business & Tax"], ["Salon"], ["Renovation"], ["Hardware"], ["Weddings"], ["Electronics"], ["Mobile"]]), id: "category"%>
          <hr>
          <br>
          <br>
        <%= select_tag :brand, options_for_select([["Select a brand",""], ["Apple"], ["Samsung"], ["Nokia"], ["Xiaomi"], ["Vivo"], ["Oppo"], ["Pixle"], ["Honor"], ["Oneplus"], ["Asus"], ["Lenovo"], ["Sony"]]), id: "brand"%>
        <hr>
        <br>
        <br>
        <%= select_tag :ram, options_for_select([["Select RAM",""], ["2GB"], ["3GB"], ["4GB"], ["6GB"], ["8GB"], ["10GB"], ["12GB"]]), id: "ram"%>
        <hr>
        <br>
        <br>
        <%= select_tag :storage, options_for_select([["Select Storage",""], ["8GB"], ["16GB"], ["32GB"], ["64GB"], ["128GB"], ["256GB"], ["512GB"]]), id: "storage"%>
        <hr>
      </td>
        <a href="/welcome/filter_search" class="btn-form search-btn">SEARCH<i class="pe-7s-angle-right"></i></a>
      </td>
      <hr>
      <br>
      <br>

  <h1>Your Search</h1>
  <hr>
</div>
<div class="row">
                <% @products.each do |product| %>
                <div class="col-md-4">
  <figure class="card card-product">
    <div class="img-wrap"><img src="<%= product.image %>" style="width:300px; height:250px;"></div>
    <figcaption class="info-wrap">
        <h4 class="title"><a href="#"><%= product.name %></a></h4>
        <p class="desc"><%= product.description %></p>
        <div class="rating-wrap">
          <div class="label-rating">Category: <%= product.category %></div>
          
        </div> <!-- rating-wrap.// -->
    </figcaption>
    <div class="bottom-wrap">
      <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
      <div class="price-wrap h5">
        <% if product.offerprice? %>
        <span class="price-new">Rs: <%= product.offerprice %></span> <del class="price-old">Rs: <%= product.price %></del>
        <div class="label-rating"><%= number_to_percentage(product.percentage_off, :precision => 2) %> Off</div>
        <% else %>
        <span class="price-new"><%= product.price %></span>
         <% end %>
      </div> <!-- price-wrap.// -->
    </div> <!-- bottom-wrap.// -->
  </figure>
</div> <!-- col // -->
<% end %>
              </div>
</div>
<script type="text/javascript">
        $(".search-btn").on("click", function(e){
          e.preventDefault()
          var $this = $(this);
          var $href = $this.attr("href");
          var category = $("#category").val()
          var brand = $("#brand").val()
          var ram = $("#ram").val()
          var storage = $("#storage").val()
          var price = $("#price")[0].value

          window.location = $href + '?category='+ category+ '&brand='+ brand+ '&ram='+ ram+ '&storage='+ storage+ "&price="+ price
        })
        </script>
<style>
  .card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 150px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}
</style>