<br>
<br>

<% if params[:search].blank? %>

<div class="jumbotron">
  <h1>Wolla!</h1>
  <p>Your Location has been added and set to default to change it please click on the location icon.</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></p>
</div>
<% else %>
<br>
<br>

<div class="container" style=" text-align:center;">
  <h1>Your Search</h1>
  <p>Here are the results for your search <b><%= params[:search] %></b></p>
  <hr>

  <a href="/welcome/filter_search?category=&price=0 - 1000" class="btn-form search-btn">Try Advance Search<i class="pe-7s-angle-right"></i></a>
      
  <br>
  <br>
<div class="row">
                <% @products.each do |product| %>
                <div class="col-md-4">
  <figure class="card card-product">
    <div class="img-wrap"><img src="<%= product.image %>" style="width:300px; height:250px;"></div>
    <figcaption class="info-wrap">
        <h4 class="title"><a href="#"><%= product.name %></a></h4>
        <p class="desc"><%= product.description %></p>
        <div class="rating-wrap">
          <div class="label-rating">Category: <%= product.category %></div>
          
        </div> <!-- rating-wrap.// -->
    </figcaption>
    <div class="bottom-wrap">
      <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
      <div class="price-wrap h5">
        <% if product.offerprice? %>
        <span class="price-new">Rs: <%= product.offerprice %></span> <del class="price-old">Rs: <%= product.price %></del>
        <div class="label-rating"><%= number_to_percentage(product.percentage_off, :precision => 2) %> Off</div>
        <% else %>
        <span class="price-new"><%= product.price %></span>
         <% end %>
      </div> <!-- price-wrap.// -->
    </div> <!-- bottom-wrap.// -->
  </figure>
</div> <!-- col // -->
<% end %>
              </div>
            </div>

<% end %>


<style>
  .card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}
</style>