
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 

</head>
<%= render 'welcome/sub' %>
<script src="/assets/jquery.raty.js"></script>
<br>
<br>
<br>
<br>

<body>

  
 
          <div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="<%= @product.image %>" alt="PRODUCT PREVIEW" style="width:100%;">
      </div>

      <div class="item">
        <img src="<%= @product.imagetwo %>" alt="PRODUCT PREVIEW" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="<%= @product.imagethree %>" alt="PRODUCT PREVIEW" style="width:100%;">
      </div>

      <div class="item">
        <img src="<%= @product.imagefour %>" alt="PRODUCT PREVIEW" style="width:100%;">
      </div>

      <div class="item">
        <img src="<%= @product.imagefive %>" alt="PRODUCT PREVIEW" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<hr>
          <div class="details col-md-6">
            <h3 class="product-title" style="font-size: 30px; font-weight: 400;"><%= @product.name %></h3>
    <div class="star-rating" style="top: 50px;" data-score= <%= @avg_preview %> > <em style="font-size: 13px; color: #777777; font-weight: 400;"><%= "#{@previews.length} reviews" %></em></div>

  <p style="font-size: 13px; color: #777777; font-weight: 400;"><%= @product.category %></p>
  </div>
  <hr style="border:3px solid #f1f1f1">
  <div id="exTab1" class="container"> 
<ul  class="nav nav-pills" style="background-color: #fff; padding-left: 20px;">
      <li class="active">
        <a  href="#1a" data-toggle="tab">Products</a>
      </li>
      <li><a href="#2a" data-toggle="tab">Pricing</a>
      </li>
      <li><a href="#3a" data-toggle="tab">Reviews</a>
      </li>
    </ul>
    <hr style="border: 3px solid #f1f1f1;">

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
        
          <p class="in-pa"> <%= @product.description %> </p>
          <div class="action">
              <% if current_user == @product.user %>
          <%= link_to "Edit", edit_product_path(@product) %>
          <%= link_to "Delete", @product, method: :delete, data: { confirm: "Do you want to delete this listing ?"}%>
          <% end %>
        </div>
        </div>
        <div class="tab-pane" id="2a">
          <% if @product.offerprice? %>
          <div class="pr-single">
          <h2 class="reduced "><del>₹.<%= @product.price %></del>₹<%= @product.offerprice %></h2>
        </div>

             <p class="hello"><img src="/assets/offer.png"><strong><%= number_to_percentage(@product.percentage_off, :precision => 2) %></strong> Off</p>
            <% else %>
            <div class="pr-single">
          <p class="reduced ">₹<%= @product.price %></p>
        </div>
            <% end %>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product!</p>
            <% if @product.gst? %>
            <div class="action">
              <%= form_tag order_items_path do %>
        <%= hidden_field_tag :product_id, @product.id %>
       
        <%= number_field_tag :quantity, 1, style:'background-color:#fff;' %>
        <div class="ju"></div>
              <button class="add-to-cart btn btn-default" style="padding:10; margin:0;" type="submit">add to cart</button>
              <% end %>
              <!-- <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button> -->
            </div>
            <% else %>
            <div class="action">
              <button class="add-to-cart btn btn-default" style="padding:10; margin:0;"><a href="tel:<%= @product.phone %>">Call Now</a></button>
            </div>
            <% end %>
        </div>
        <div class="tab-pane" id="3a">
          <div class="container">
         <% if @previews.blank? %>
            <h3>No reviews just yet, would you like to add the first!</h3>
            <%= link_to "Write Review",  new_product_preview_path(@product), :style=> 'color:#FFFFFF;', class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Write Review",  new_product_preview_path(@product), class: "btn btn-danger" %>
          <br>
          <br>
            <% @previews.each do |preview| %>
            <div class="card">
              <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> Nearclick User</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= preview.created_at.strftime("%B %d %Y, %l:%M%P") %></time>
                  </header>
                  <hr>
                  <div class="comment-post">
                    <p>
                      <div class="reviews">
                <div class="star-rating" data-score= <%= preview.rating %> ></div>
                <p><%= preview.comment %></p>
              </div>
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
            <% end %>
            <% end %>
  </div>

            <script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
  </script>
  </div>
        </div>
        
      </div>
   
          
    <hr style="border:3px solid #f1f1f1">
    
  </body>
</html>




<% @similar_products.each do |similar_product| %>
<!--content-->
<div class="content-top ">
  <div class="container ">
    <div class="spec ">
      <h3>Similar Products</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
      <div class="tab-head ">
        <div class=" tab-content tab-content-t ">
          
          
          
          <div class="tab-pane active text-style" id="tab4">
              <div class=" con-w3l">
              <div class="col-md-3 m-wthree">
                <div class="col-m">
                  <a href="#" class="offer-img">
                    <img src="<%= similar_product.image %>" class="img-responsive" alt="">
                    <% if similar_product.offerprice? %>
                    <div class="offer"><p><span>Offer</span></p></div>
                    <% end %>
                  </a>
                  <div class="mid-1">
                    <div class="women">
                      <h6><%= similar_product.name %></h6>             
                    </div>
                    <div class="mid-2">
                       <% if similar_product.offerprice? %>
                      <p ><label>Rs.<%= similar_product.price %></label><em class="item_price">Rs.<%= similar_product.offerprice %></em></p>
                      <% else %>
                      <p ><em class="item_price">Rs.<%= similar_product.price %></em></p>
                      <% end %>
                        <div class="block">
                        <div class="starbox small ghosting"> </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                      <div class="add">
                       <button class="btn btn-danger my-cart-btn my-cart-b"><%= link_to "View Product", similar_product, class: 'btn btn-danger my-cart-btn my-cart-b' %></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
             </div>
          </div>
        </div>
      </div>
    
  </div>
  </div>
  <% end %>
  </div>
  <style>
/*--content--*/
.content-top{
  padding:4em 0 0;
}
.offer-w3agile{
  padding:6em 0;
}
.wthree-of{
  margin-top:5em;
}
.tab-head {
    margin: 1em 0 0;
}
.tabs li{
  display:inline-block;
}
ul.nav.tabs {
    text-align: center;
  margin-bottom: 4em;
}
.tabs li a {
    font-size: 1em;
    color: #8A8A8A;
    padding: 16px 17px !important;
    display: inline-block;
}

.tabs  li.active {
  border-bottom: 2px solid #000
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.tab-content-t {
    padding: 0em !important;
}


/*----*/
.mid-1 h6 {
    font-size: 1.2em;
}
.mid-1 h6 a {
    color: #000000;
    text-decoration:none;
}
.mid-1 h6 a:hover {
    color: #FAB005;
}
.mid-2 p{
  float:left;
  font-size:0.9em;
  color:#B4B4B4;
}
.mid-2 p em{
  font-style:normal;
}
.mid-2 p label{
  text-decoration: line-through;
  font-weight:400;
  margin-right:6px;
}
.mid-2 {
    padding: 1em 0;
}
.mid-1 {
    padding: 3em 0 0;
}
.block {
    float: right;
}
.add{
  text-align:center;
}
.col-m {
    padding: 1em;
    border: 1px solid #B2B2B2;
}
.offer-img{
  position:relative;
  display:block;
}
.offer-img img{
  margin:0 auto;
  width: 55%;
}
.offer{
      position: absolute;
    top: 0;
    right: -15px;
    border: 2px solid #ED0612;
    border-radius: 100px 0 0 100px;
    padding: 2px;
}
.offer p{
    background: #ED0612;
    border-radius: 100px 0px 0px 100px;
    text-align: center;
    line-height: 0em !important;
    font-size: 0.9em !important;
    padding: 7px;
}
.offer span{
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.modal-body {
    padding: 1em 1em 0em;
}
.modal-footer {
    margin-top: 0px;
}
div#my-cart-empty-message {
    margin: 0;
}
/*--cart--*/
.my-cart-b {
    background: none;
    text-decoration: none;
    color: #029241;
    font-size: 1em;
    border: 2px solid #039445;
    border-radius: 50px;
    padding: 0.5em 1em;
    outline: none;
}
a:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}

/* Sweep To Bottom */
.my-cart-b{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.my-cart-b:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #039445;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-radius: 50px;
  border: 2px solid #039445;
}
.my-cart-b:hover, .my-cart-b:focus, .my-cart-b:active {
  color: white;
    background: none;
    border: 2px solid #039445;
    outline: none !important;
}
.my-cart-b:hover:before, .my-cart-b:focus:before, .my-cart-b:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*--content--*/
/*--product--*/
.span-1 h3 {
  color: #000;
    font-size: 1.8em; 
}
p.in-para{
color: #B3B3B3;
    font-size: 0.9em;
    line-height: 2em;
    margin: 1em 0 ;
  border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
  padding:1em 0;
}
.price_single {
    padding-bottom: 1em;
}
span.reducedfrom {
      color: #FAB005;
    font-size: 1.5em;   
}

h4.quick {
  color: #000;
  font-size:1.2em;
  text-transform: uppercase;
  margin-top: 1em;
  
}
p.quick_desc {
  color:#B3B3B3;
  font-size:0.9em;
  line-height: 2em;
  margin: 1em 0 2em;
}

/* Shutter In Vertical */
.my-cart-btn1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    background-color:#FAB005;
   color: #fff;
   padding: 0.5em 1em;
   font-size:1em;
    text-decoration:none;
   border: none;
}
.my-cart-btn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#029241;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border: none;
}
.my-cart-btn1:hover, .my-cart-btn1:focus, .my-cart-btn1:active {
  color: white;
  text-decoration:none;
  border:none;
  background: #FAB005;
  border-radius: 0;
}
.my-cart-btn1:hover:before, .my-cart-btn1:focus:before, .my-cart-btn1:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
   text-decoration:none;
}


ul.product-qty {
  padding: 0;
  list-style: none;
}
.product-qty span {
  color: #000;
  font-size:1.2em;
  padding-bottom: 0.5em;
  display: block;
  text-transform: uppercase;

}
.product-qty select {
  border: 1px solid #eee;
  padding: 0.5em;
  font-size: 1em;
  outline: none;
}
.product-qty option {
  border: 1px solid #EEE;
}
.wish-list {
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}
.wish-list ul{
  padding:0;
  list-style:none;
}
.wish-list li {
    display: inline-block;
    margin-right: 4%;
    width: 36%;
}
.wish-list li a i{
    margin-right:4%;
}
.wish-list li a {
  color:#FAB005;
  font-size: 0.85em;
  text-decoration: underline;
}
.wish-list li a span {
  padding-right:10px;
}
.wish-list li a:hover{
  text-decoration:none;
}

.size-top {
    margin: 2em 0;
}
/*----*/
.modal-dialog {
    width: 800px;
    margin: 30px auto;
}
.modal-spa {
    padding: 1em 1em 2.5em;
}

.modal-header {
    border-bottom: none;
}
.close {
    font-size: 31px;
}
/*--product--*/
/*--content-mid--*/

.col-md,.col-md1,.col-md2,.col-md3{
  position:relative;
}
.col-md1,.col-md2,.col-md3{
  text-align:center;
}
.big-sale {
    position: absolute;
    top: 77px;
    left: 20%;
    border: 4px double #fff;
    text-align: center;
    transform: rotate(-45deg);
    width: 210px;
    height: 210px;
}
.big-sale1 {
  transform: rotate(45deg);
  margin: 3.5em 0 0;
}
.big-sale h3,.big-sa h3,.big-sale2 h3,.big-sale3 h3{
  color:#fff;
  font-size:3em;
  margin-bottom: 0.3em;
}
.big-sa h3{
  margin-bottom: 0.2em;
}
.big-sale h3 span,.big-sa h3 span,.big-sale2 h3 span,.big-sale3 h3 span{
  color:#FAB005;
}
.big-sale p,.big-sa p,.big-sale2 p,.big-sale3 p{
  color:#fff;
  font-size:1em;
  line-height:2em;
}
.big-sa h6{
  color:#fff;
  font-size:1em;
  text-transform:uppercase;
  letter-spacing:2px;
}
.big-sa {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 9em;
}
.big-sale2,.big-sale3{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 3em;
}
.col-md2 {
    margin-bottom: 30px;
}
.content-mid {
    padding: 6em 0;
}
/*--content-mid--*/
.product {
  padding:8em 0 6em;
}
.pro-1 {
    margin-bottom: 2em;
}































/*--responsive--*/
@media(max-width:1440px){
.main-agileits {
    width: 35%;
}
}
@media(max-width:1280px){
.main-agileits {
    width: 38%;
}
}
@media(max-width:1080px){
.banner-info h3 {
    width: 95%;
}
.big-sale h3, .big-sa h3, .big-sale2 h3, .big-sale3 h3 {
    font-size: 2.7em;
}
.big-sale {
    top: 53px;
    left: 18%;
    width: 180px;
    height: 180px;
}
.big-sale1 {
    margin: 3em 0 0;
}
.search-form input[type='text'] {
    width: 92%;
}
.search-form {
    width: 60%;
    margin: 0 auto;
}
.main-agileits {
    width: 50%;
}
.about-left p {
    padding: 1em 0;
  font-size: 0.9em;
}
.work-info span {
    left: 26.2em;
}
.work-left label{
    left: 33.3em;
}
.big-sa {
    margin-top: 6em;
}
.big-sale2, .big-sale3 {
    margin-top: 2em;
}
.footer-grid h3 {
    font-size: 1.5em;
}
}
@media(max-width:991px){
.modal-dialog {
    width: 720px;
}
.banner-info h3 {
    width: 99%;
    font-size: 2.5em;
}
.m-wthree {
    width: 50%;
    float: left;
    margin-bottom: 2em;
}
.pro-1 {
    width: 50%;
    float: left;
}
.footer-grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.footer-bottom {
    text-align: center;
    margin: 0em 0 0;
}
p.fo-para {
    padding: 1em 0 2em;
}
.copy-right p {
    margin-top: 2em;
}
.footer {
    padding: 3em 0;
}
.product {
    padding: 6em 0 3em;
}
.ser-t {
    width: 30%;
}
.m-w3ls ,.m-w3ls1{
    margin: 0 auto;
    width: 53%;
}
.m-w3ls1{
  margin:2em auto;
}
.big-sale {
    top: 77px;
    left: 20%;
    width: 210px;
    height: 210px;
}
.content-mid {
    padding: 4em 0;
}

.dropdown-menu.multi {
    min-width: 730px;
}

.search-form input[type='text'] {
    width: 89%;
}
.search-form {
    width: 70%;
}
.carousel-indicators {
    left: 46%;
}
.kic-top1 {
    text-align: center;
    margin: 0 0 2em;
}
.kic-top1:last-child {
    margin: 0 0 0em;
}
.kic-top1 img{
    margin: 0 auto;
}
.kic-top {
    padding: 6em 0 0;
}

.contact-right img{
  margin:0 auto 2em;
}
.contact-left {
    margin-top: 2em;
}
.contact {
    padding: 4em 0;
}
.contact-w3 {
    padding-top: 0em;
}
.main-agileits {
    width: 65%;
}
.faq-w3 {
    padding: 4em 0 3em;
}
.terms {
    padding: 4em 0;
}
.about {
    padding:4em 0;
}
.work-right {
    border-left: none;
    padding: 2em 0;
}
.work-left label, .work-right label {
    display: none;
}
.work-left {
    text-align: right;
    padding: 6em 0 0;
}
.work-info span {
    left: 20.2em;
}
span.last {
    bottom: -46px;
}
.work {
    padding: 4em 0 6em;
}
.advantages {
    padding: 4em 0;
}
.about-agi {
    margin-top: 2em;
}
.single-top {
    width: 50%;
}
.single-right {
    margin-top: 2em;
}
a.at-in {
    width: 27%;
}
.sed h5 {
    font-size: 1em;
}
.big-sa {
    margin-top: 9em;
}
.big-sale2, .big-sale3 {
    margin-top: 3em;
}
.check-out {
    padding:3em 0;
}
.login {
    padding: 4em 0;
}
.offer-w3agile {
    padding:4em 0;
}
.typrography {
    padding: 4em 0;
}
.single {
    padding: 4em 0 0;
}
}
@media(max-width:767px){

ul.multi-column-dropdown {
    text-align: center;
}
.hyper:hover:before {
  right: 99.1%;
    opacity: 1;
}
.hyper:hover:after {
  left: 0.9%;
    opacity: 1;
}
.active a:before{
  opacity: 1;
  right: 99.1%;
}
.active a:after {
  left: 0.9%;
    opacity: 1;
}

.w3l img {
    width: 50%;
    margin: 2em auto;
}

.tabs li {
    display: inline-block;
}
.m-w3ls, .m-w3ls1 {
    width: 64%;
}
.modal-dialog {
    width: 600px;
}
.spec h3 {
    font-size: 2.8em;
}
.search-form {
    width: 76%;
    margin: 0 auto;
}
.banner-info {
    margin: 5em 0;
}
.search-form {
    width: 76%;
}
.agileinf {
    padding-top: 0em;
}
.contact-w3 {
    padding-top: 0em;
}
.contact {
    padding:3em 0  ;
}
.contact-right iframe {
    height: 180px;
}
ul.contact-list li {
    margin: 0 0px 7px 0;
    color: #999;
}
.login {
    padding: 4em 0;
}
.main-agileits {
    width: 78%;
}

.panel-title {
    font-size: 1.2em;
}
.terms {
    padding: 5em 0 3em;
}
.work-info span {
    left: 16.2em;
}
.single-top {
    width: 62%;
}
.product {
    padding: 5em 0 3em;
}
.close1, .close2, .close3 {
    left: 80%;
    top: 15px;
}
a.at-in {
    padding: 0.8em 0;
    margin-left: 0%;
}
.ring-in {
    width: 38%;
}
.sed {
    width: 65%;
}
.sed h5 {
    margin-top: 2em;
}
.value {
    width: 32px;
    height: 32px;
    line-height: 16px;
}
.value-minus, .value-plus {
    height: 32px;
    width: 32px;
}
.login {
    padding: 3em 0;
}
.spec {
    margin-bottom: 2em;
}
.typrography {
    padding: 3em 0;
}
.wthree-of {
    margin-top: 3em;
}
.offer-w3agile {
    padding:3em 0;
}
.single {
    padding: 4em 0 0;
}
/*--typo--*/
.bars {
    font-size: 2.2em;
}
}
@media(max-width:600px){
.banner-info h3 {
    width: 100%;
    font-size: 2em;
}
.search-form {
    width: 93%;
}
.banner-info {
    margin: 4em 0;
}
.spec h3 {
    font-size: 2.5em;
}
.ser-t {
    width: 43%;
}
.tabs li a {
    padding: 16px 9px !important;
}
ul.nav.tabs {
    margin-bottom: 2em;
}
.mid-1 h6 {
    font-size: 1em;
}
.m-w3ls, .m-w3ls1 {
    width: 85%;
}
.offer-img img {
    width: 75%;
}
.product {
    padding: 4em 0 2em;
}
.footer-grid {
    width: 100%;
    margin-bottom: 1em;
}
.cart {
    width: 15%;
}

.spec h3 {
    font-size: 2.2em;
}
.ser-t {
    width: 47%;
}
.offer-w3agile {
    padding:3em 0 2em;
}
.content-mid {
    padding: 2em 0;
}
p.fo-para {
    width: 95%;
}
.footer-bottom h2 b {
    font-size: 8px;
    padding: 2px;
    line-height: 9px;
    top: 8px;
    left: -6px;
}
.footer-bottom h2 span {
    letter-spacing: 3px;
}
.modal-dialog {
    width: 450px;
}

.kic h3 {
    font-size: 2.2em;
}
.ser-t span {
    left: 39%;
}
.span-1 {
    margin-top: 2em;
}

.carousel-indicators {
    left: 44%;
}
.main-agileits {
    width: 90%;
    padding: 2em;
}
.form-w3agile h3{
    margin-bottom: 1em;
}
.key i {
    padding: 13px 13px 13px 10px;
}
.panel-heading {
    padding: 11px 0px;
}
.panel-title {
    font-size: 0.94em;
}
.faq-w3 {
    padding: 4em 0 2em;
}
.terms {
    padding: 5em 0 2em;
}
.work-info span {
    left: 11.2em;
}
.work {
    padding: 3em 0 5em;
}
.advantages {
    padding: 3em 0;
}
.about {
    padding: 3em 0;
}
.single-top {
    width: 85%;
}

a.at-in {
    padding: 0.5em 0;
    width: 37%;
}
.sed {
    width: 100%;
}
.sed h5 {
    margin-top: 1em;
}
.ring-in {
    width: 34%;
}
.add-1 {
    padding: 7px 4px;
    font-size: 0.9em;
}
.check-out {
    padding: 3em 0 2em;
}
.login {
    padding: 2em 0;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px !important;
}
.advantages-left h3 {
    font-size: 2em;
}
.wthree-of {
    margin-top: 2em;
}
.bars {
    font-size: 1.8em;
}
.single {
    padding: 3em 0 0;
}
}
@media(max-width:414px){
.cart {
    width: 27%;
}

.m-wthree {
    width: 50%;
    float: left;
    margin-bottom: 1em;
    padding: 0 3px;
}
.mid-1 {
    padding: 2em 0 0;
}
.col-m {
    padding: 0.5em;
}
.mid-1 h6 {
    font-size: 0.85em;
}
.mid-2 p {
    float: none;
}
.block {
    float: none;
}
.my-cart-b {
    font-size: 0.9em;
    padding: 0.3em 1em;
}
.m-w3ls, .m-w3ls1 {
    width: 100%;
}
.big-sale {
        top: 39px;
    left: 15.1%;
    width: 184px;
    height: 184px;
}
.big-sale h3, .big-sa h3, .big-sale2 h3, .big-sale3 h3 {
    font-size: 2.2em;
}
.pro-1 {
    padding: 0 5px;
}
.banner-info {
    margin: 2em 0;
}
img.img-head {
    width: 19%;
}
.logo h1 {
    font-size: 2.2em;
}
.logo h1 span {
    font-size: 11px;
    letter-spacing: 1px;
}
.logo h1 b {
    font-size: 7px;
    padding: 2px;
    top: 6px;
    left: -8px;
    line-height: 6.5px;
}
.card li a {
    font-size: 0.85em;
    margin: 0 0.3em;
}
.banner-info h3 {
    font-size: 1.4em;
}
.search-form input[type='submit'] {
    width: 35px;
    height: 35px;
    background: url(../images/can.png) no-repeat 4px 3px #FCCD1E;
}
.search-form input[type='text'] {
    width: 85%;
    padding: 7px 10px;
    font-size: 0.9em;
}
.search-form {
    width: 95%;
}
.spec h3 {
    font-size: 1.7em;
}
.ser-t {
    width: 64%;
}
.ser-t span i {
    width: 18px;
    height: 18px;
}
.ser-t span {
    width: 36px;
    height: 36px;
    left: 38%;
}
.ser-t {
    width: 64%;
}
.tabs li a {
    padding: 8px 9px !important;
  font-size: 0.9em;
}
.offer {
    right: -8px;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
.product {
    padding: 3em 0 0em;
}
.footer-bottom h2 {
    font-size: 2.5em;
}
.footer-bottom h2 span {
    letter-spacing: 2px;
    font-size: 11px;
}
.footer-bottom h2 b {
    font-size: 7px;
    padding: 2px;
    line-height: 7px;
    top: 7px;
    left: -7px;
}
.footer-grid h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.pro-1 {
    margin-bottom: 1em;
}
.big-sale p, .big-sa p, .big-sale2 p, .big-sale3 p {
    font-size: 0.9em;
    line-height: 1.7em;
}
.big-sale2, .big-sale3 {
    margin-top: 2.5em;
}
.kic h3 {
    font-size: 1.8em;
}
.kic-top {
    padding: 4em 0 0;
}
.carousel-indicators li {

    margin: 0 3px;
}
.carousel-indicators {
    left: 41%;
    bottom: -26px;
}
.resp-tab-content {
    padding: 1em;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 100%;
    margin: 0 0% 5% 0%;
}
.contact-left input[type="submit"] {
    width: 33%;
    font-size: 0.9em;
}
.contact {
    padding: 3em 0 2em;
}
.main-agileits {
    width: 90%;
    padding: 1em;
}
.key input[type="text"], .key input[type="password"] {
    width: 84%;
    padding: 8px 10px;
}
.key i {
    padding: 10px 0px 10px 10px;
}
.form-w3agile input[type="submit"] {
    padding: 7px 0;
    margin-bottom: 25px;
}
.login {
    padding: 2em 0;
}
.form-w3agile h3{
    margin-bottom: 0.8em;
}
.panel-title {
    line-height: 1.8em;
}
.panel-heading {
    padding: 6px 0px;
}
.faq-w3 {
    padding: 3em 0 1em;
}
.spec {
    margin-bottom: 2em;
}
.terms h6 {
    font-size: 1.2em;
}
.terms p {
    font-size: 0.9em;
    margin-top: 10px;
    padding-left: 18px;
}
ol {
    margin-bottom: 17px;
}
.terms {
    padding: 4em 0 2em;
}
.work-info span {
    left: 7em;
}
.banner-top h3 {
    font-size: 1.7em;
}
.banner-top h4 {
    margin-top: 0.5em;
}
.banner-top {
    height: 76px;
    padding: 2em 0.5em;
}
.check-out {
    padding: 2em 0 1em;
}
th.t-head {
    font-size: 0.7em !important;
}
td.t-data {
    font-size: 0.8em !important;
}
.ring-in {
    width: 27%;
}
.t-w3l {
    width: 30%;
}
a.at-in {
    width: 75%;
}
.close1 i, .close2 i, .close3 i {
    width: 20px;
    height: 20px;
    line-height: 1.7em;
}
.close1, .close2, .close3 {
    left: 73%;
    top: 6px;
}
.work-w3, .work-w31 {
    padding: 1.5em;
}
.advantages-left h3 {
    font-size: 1.8em;
}
.ad-left p {
    font-size: 1.2em;
    width: 43px;
    height: 43px;
    line-height: 2.5em;
}
.ad-right {
    width: 80%;
}
.ad-left {
    width: 17%;
}
.ad-right h4, .advn-two h4 {
    font-size: 1.1em;
    line-height: 1.6em;
}
.advn-two {
    margin-top: 1em;
}
.contact-left h4 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}
.contact-left {
    margin-top: 1em;
}
.single-top {
    width: 100%;
}
.single-w3agile {
    padding: 1em;
}
.wthree-of {
    margin-top: 1em;
}
.offer-w3agile {
    padding:2em 0;
}
.single {
    padding: 2em 0 0;
}
.modal-dialog {
    width: 290px;
}
input.my-product-quantity {
    width: 40px !important;
}
.big-sa {
    margin-top: 5em;
}
/*--typo--*/
.bars {
    font-size: 1.5em;
}
h1.t-button {
    font-size: 25px;
}
 h2.t-button{
    font-size: 22px;
}
 h3.t-button {
    font-size: 20px;
}
 h4.t-button {
    font-size: 18px;
}
 h5.t-button {
    font-size:15px;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 11px;
    font-size: 18px;
}

.grid_3 p, .page-header p {
    font-size: 13px;
}
}
  </style>
