




<!--  Carousel Indicators -->
<ol class="carousel-indicators">
  <% @highlights.each_with_index do |highlight, index| %>
    <li data-target="#myCarousel" data-slide-to="<%= index.to_s %>" class="<%= 'active' if index == 0 %>"></li>
  <% end %>
</ol>

<!--  Carousel Inner -->
  <div class="carousel-inner">
    <% @highlights.each_with_index do |image, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">        
        <p><strong><%= highlight.title %></strong></p>      
        <p style="font-size:15px;"><%= highlight.description %></p>
        <img class="booty" src="<%= highlight.image %>">
        <%= link_to 'View Details', highlight, class: "add-to-cart btn btn-default" %>
      </div>
    <% end %>
  </div>